<%= image_tag @user.gravatar_url(:rating => 'R', :secure => true, :size => 50) %>
<%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %> <br>
<%= @user.location %> <br>
<%= Date.today.year.to_i - @user.birthday.year.to_i + 
    if Date.today.month.to_i > @user.birthday.month.to_i
      0
    elsif Date.today.month.to_i == @user.birthday.month.to_i
        if Date.today.day.to_i >= @user.birthday.day.to_i
            0
        else
            1
        end
    else
        1
end
%> years old <br>
 
<%= "Friends: #{@user.friends.count}" %> <br>
<%= "Posts: #{@user.posts.count}" %> <br>

<% unless @user == current_user %>
  <% if current_user.friends.include?(@user) %>
    <%= button_to "Unfriend", friendship_path(@user), method: :delete %>
  <% elsif current_user.friend_requests.include?(@user) %>
    <%= button_to "Accept Friend Request", friendship_path(@user), method: :patch %>
    <%= button_to "Reject Friend Request", friendship_path(@user), method: :delete %>
  <% elsif current_user.friend_requests.include?(current_user) %>
    <%= button_to "Cancel Friend Request", friendship_path(@user), method: :delete %>
  <% else %>
    <%= button_to "Add Friend", friend_requests_path(friend_id: @user.id), method: :post %>
  <% end %>
<% end %>
  



<% @posts.each do |post| %>
    <%= image_tag post.user.gravatar_url(:rating => 'R', :secure => true, :size => 50) %>
    <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %> <br>
    <%= render post %>
    <%= render partial: "layouts/likes_button", locals: { likable: post } %>
    <%= post.likes.count %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
