<%= form_with(model: @post) do |form| %>
  <% if @post.errors.full_messages.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |error| %>
          <li><%= error%></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center align-items-center r-4">
    <%= image_tag current_user.gravatar_url(:rating => 'R', :secure => true, :size => 75), class:"mx-4 rounded-circle" %>
    <%= form.text_area :content , class:"w-25 form-control", rows:"4" %>
    <%= form.submit "Create Post", class: 'btn btn-primary mx-4 p-2' %>
  </div>

<% end %>
