<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

<br>
<%= link_to "Friend Requests", friend_requests_path%> <br>


<% @users.each do |user| %>
  <%= user.email %>
  <%= button_to "Add Friend", friend_requests_path(friend_id: user.id), method: :post %>
<%end%>




