<%= render partial: 'form', locals: {path: {controller: 'posts', action: 'create'}} %>

<div id="posts">
  <% if @posts %>
  <% @posts.each do |post| %>
  <div class="d-flex justify-content-center">
    <div class="d-flex w-50 my-4 border rounded justify-content-around rounded-50 p-4">
      <div>
        <%= image_tag post.user.gravatar_url(:rating => 'R', :secure => true, :size => 50), class:"rounded-circle" %>
        <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user), class:"text-decoration-none mx-2" %>
      </div>
      <div class="w-25 mx-4 flex-fill">
        <%= render post %>  
        <div class="d-flex align-items-center">
      
          <%= post.likes.count %>
          <%= render partial: "layouts/likes_button", locals: { likable: post } %>
          <div class="mx-2">
            <%= post.comments.count %>
            <i class="fa-regular fa-comment mx-3"></i>
          </div>
        </div>
        <%= link_to "Show this post", post %>
      </div>
      <% if post.user == current_user %>
        <%= link_to edit_post_path(post), class:"btn btn-floating mx-1" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= button_to post, method: :delete, class:"btn btn-floating mx-1" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>   
      <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>



