  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "OdinBook", root_path, class:"navbar-brand" %> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if @current_user%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">My Profile</a>
        </li>
        <li class="nav-item">
          <div class="align-items-center">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#search"></use></svg>
              <%= form_tag(users_path, method: 'get') do %>
                <%= text_field_tag(:search, params[:search]) %>
                <%= submit_tag("Search", name: nil) %>
               <% end %>
          </div>
        </li>
        <%end%>
      </ul>

      

    <div>
        <% if current_user %>
          <div class="btn btn-outline-success" type="submit">
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          </div>

        <% else %>
          <button class="btn btn-outline-success" type="submit">
            <%= link_to "Log in", new_user_session_path %>
          </button>
          <button class="btn btn-outline-success" type="submit">
            <%= link_to "Sign up", new_user_registration_path %>
          </button>
        <% end %>
      </div>
        
    </div>
  </div>
</nav>